<%- include('header') -%>

<h2>This is the about page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Quae neque quibusdam magnam inventore facere, enim 
    accusantium accusamus deleniti minus commodi sed odio 
    dolorem minima! Reiciendis unde ab dolorum possimus 
    consequuntur.</p>
    
<%- include('footer') -%>